* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

li {
    display: inline;
}

.navbar_container {
    text-decoration: none;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    font-size: 1.2rem;
}

.navbar_links {
    padding: 17px;
    cursor: pointer;
    text-decoration: none;
    color: #b2b9b9;  
} 
.navbar_links:hover {
    color: gray;  

}



#logo {
    position: relative;
    left: -400px;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;

}

#signin {
    color: #b2b9b9;  

}

#signin:hover {
    color: gray;
}

.button { 
    padding: 15px;
    position: relative;
    left: 400px;
    text-decoration: none;

}


#signup {
    background: chartreuse;
    border-radius: 10px;
    color: white;
}

#signup:hover {
    background: rgba(16, 177, 37, 0.74);

}



#solutions {
    position: relative; 
    left: -35px;
}

h1 {
    font-size: 3.7rem;
}

.content_container {
    padding: 25px;
    position: relative;
    bottom: -50px;   
    font-size: 1.5rem;
}

p {
    position: relative;
    bottom: -15px;
    color: gray;
}

.button_section {
    position: relative;
    bottom: -45px;
    color: white;
}

#button_register {
    font-size: 15px;
    padding: 15px;
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
    background: rgb(89, 154, 238)
}

#button_free {
    left: 15px;
    padding: 15px;
    border-radius: 5px;
    border-style: none;
    background: black;
    width: 140px;
    font-weight: bold;
}

#img_demo {
    height: 400px;
    bottom: 297px;
    width: 750px;
    position: relative;
    left: 750px;
    border-radius: 10px;
    border-style: solid;
    border-width: 8px;
}
